.contentModalInfo {
    position: relative;
    width: 100%;

    .image {
        width: 100%;

        img {
            width: 100%;
            height: 150px;
        }
    }

    .avatarInfo {
        position: absolute;
        top: 120px;
        left: calc(50% - 30px);
        border-radius: 50%;
        background-color: #fff;
    }

    .name {
        padding-top: 30px;
        text-align: center;
    }

    .userInfo {
        padding: 10px;

        div {
            display: flex;

            p {
                width: 150px;
            }
        }

        .divBtn {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .btnShowModalUpdateInfo {
                padding: 5px 10px;
                border: none;

                svg {
                    padding-right: 10px;
                }
            }
        }

    }
}

.listFriend {
    width: 100%;
    height: 100%;
    background-color: #f7f7f8;

    .headerInvitation {
        padding: 30px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;
        display: flex;

        .backButton {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 20px;
        }

        .headerIcon {
            padding-right: 10px;
        }
    }

    .friendItem {
        position: relative;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            display: flex;
            align-items: center;
        }

        &:hover {
            background-color: #f3f5f6;
        }

        .name {
            padding-left: 25px;
        }

        .popover {
            position: absolute;
            background-color: #fff;
            z-index: 99;
            box-shadow: 2px 2px 8px #888888;

            div {
                padding: 10px 10px;
                cursor: pointer;
                border-radius: 5px;


                &:hover {
                    background-color: #f3f5f6;
                }
            }

            .delete {
                color: red;
            }
        }
    }

    .noFriend {
        font-size: 25px;
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}