.PendingInvitation {
    width: 100%;
    background-color: #f7f7f8;

    .headerInvitation {
        padding: 30px;
        font-size: 16px;
        border-bottom: 1px solid #ccc;

        .headerIcon {
            padding-right: 10px;
        }
    }

    .noResult {
        font-size: 20px;
        display: flex;
        height: 500px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .centerPending {

        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;

        .pendingInvitationItem {
            border-radius: 5px;
            width: 200px;
            padding: 10px;
            background-color: #fff;

            .topItem {
                display: flex;
                gap: 40px;

                .name {
                    align-items: center;
                }
            }

            .bottomItem {
                display: flex;
                justify-content: space-between;
                padding-top: 10px;

                .accept {
                    background-color: #e5efff;
                    color: #1867dc;
                }

                button {
                    width: 48%;
                    border: none;
                    padding: 5px 10px;
                    border-radius: 5px;
                    font-size: 15px;
                }
            }
        }
    }
}