.HeaderTabTwo {
    display: flex;
    padding: 10px 20px;
    gap: 10px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        border: none;
        background-color: #eaedf0;
        padding: 3px 10px;
        height: 24px;
        border-radius: 5px;

        &:focus {
            outline-color: #8bbae9;
            background-color: #fff;
        }
    }

}

.iconAddFriend {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;

    &:hover {
        background-color: #eaedf0;
    }
}