.mainTab {
    background-color: #0091ff;
    width: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
        padding-top: 30px;

        .avatar {
            margin-bottom: 20px;

            &:hover {
                background-color: #0091ff !important;
            }
        }
    }

    .bottom {
        padding-bottom: 30px;
    }
}

.quare {
    cursor: pointer;
    position: relative;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #0082e5;
    }

    svg {
        color: #fff;
        font-size: 30px;
    }

    .quantityMessageReceived,
    .quantityFriendInvitation {
        position: absolute;
        height: 100%;
        width: 30px;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;

        span {
            background-color: red;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            text-align: center;
            font-size: 13px;
            color: #fff;
        }
    }

}

.maintabSelect {
    background-color: #006edc !important;
}

.toggleMenu {
    position: absolute;
    width: 220px;
    left: 66px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px 0 #ccc;
    z-index: 9;

    div {
        padding: 10px;
        cursor: pointer;

        &:hover {
            background-color: #ccc;
        }
    }
}

.logout {
    color: red;
}

.hideToggle {
    display: none !important;
}