.MainModal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 97;
}

.closeModal {
    display: none !important;
}

.backgroundOpacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98;
    background-color: #ccc;
    opacity: 0.3;
}

.closeX {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        font-size: 25px;
        font-weight: 100;
    }

    &:hover {
        background-color: #ccc;
        border-radius: 50%;
    }
}

.title {
    position: relative;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-weight: 600;
    padding: 20px;
}

.content {
    width: 360px;
    max-width: 90%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 99;
    box-shadow: 0 0 10px 0 #ccc;
    border-radius: 5px;
}