.ChatArea {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;

    .iconTopDivInput {
        width: 10%;
    }

    .chatOnboard {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }

    .chatMessage {
        background-color: #eef0f1;
    }

    .inputArea {
        position: relative;

        .mainInput {
            width: 100%;
            border-top: 1px solid #ccc;
            padding-top: 10px;
            display: flex;

            .divInputFake {
                padding: 10px;
                word-wrap: break-word;
                max-height: 150px;
                overflow-y: scroll;
                line-height: 20px;

                &::-webkit-scrollbar {
                    width: 7px;
                }

                &::-webkit-scrollbar-track {
                    background: #fff !important;
                }

                &::-webkit-scrollbar-thumb {
                    background: #fff;
                    border-radius: 10px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }

                .emojiDivInput {
                    width: 20px;
                    height: 20px;
                    margin-left: 1px;
                    margin-right: 1px;
                }

                &:empty:not(:focus):before {
                    content: attr(data-text);
                    color: gray;
                }

                &:empty:focus:before {
                    content: attr(data-text);
                    color: gray;
                }

                &:focus {
                    outline: none;
                }

                &::-webkit-scrollbar {
                    width: 7px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: #ccc;
                    border-radius: 10px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }

            .rightInputArea {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding: 0 20px;

                .buttonShowEmoji {
                    position: relative;
                    cursor: pointer;
                }

                .btnSendMes {
                    border: none;
                    color: rgb(106, 106, 214);
                    background-color: #fff;
                    cursor: pointer;
                }

                svg {
                    font-size: 20px;
                    border: none;
                    background-color: #fff;
                }
            }
        }

        .containerEmojiPicker {
            position: absolute;
            top: -450px;
            right: 10px;
        }
    }
}