.dateShow {
    display: flex;
    justify-content: center;
    color: #fff;

    p {
        background-color: #ccc;
        padding: 5px;
        border-radius: 5px;
    }
}


.messageRight {
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;

    .content {
        word-wrap: break-word;
        padding: 10px;
        background-color: #e5efff;
        border-radius: 5px;
        min-width: 100px;

        .footerDate {
            display: flex;
            justify-content: flex-end;
            color: #555;
        }
    }

    .contentImage {
        width: fit-content;
        word-wrap: break-word;
        margin-top: 3px;
        min-width: 100px;
        max-width: 60%;

        .messageImage {
            border-radius: 15px;
            position: relative;

            img {
                max-width: 100%;
                border-radius: 15px;
            }

            .loaderImage {
                background-color: #ebe5e5fa;
                opacity: 0.5;
                color: #fff;
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
        }
    }
}

.status {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
    padding-top: 10px;

    .contentStatus {
        background-color: #6e82b4;
        border-radius: 5px;
        padding: 3px 5px;
        color: #fff;
        opacity: 0.5;
    }
}