.dateShow {
    display: flex;
    justify-content: center;
    color: #fff;

    p {
        background-color: #ccc;
        padding: 5px;
        border-radius: 5px;
    }
}


.sameAuth {
    margin-left: 30px;
}

.messageLeft {
    display: flex;
    padding-top: 5px;
    padding-left: 20px;

}