.dateShow {
    display: flex;
    justify-content: center;
    color: #fff;

    p {
        background-color: #ccc;
        padding: 5px;
        border-radius: 5px;
    }
}


.messageLeft {
    display: flex;
    gap: 10px;
    padding-top: 3px;
    padding-left: 10px;
}