.dateShow {
    display: flex;
    justify-content: center;
    color: #fff;

    p {
        background-color: #ccc;
        padding: 5px;
        border-radius: 5px;
    }
}


.messageLeft {
    display: flex;
    gap: 10px;
    padding-top: 3px;
    padding-left: 10px;
}

.content {
    word-wrap: break-word;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    min-width: 100px;

    .footerDate {
        display: flex;
        justify-content: flex-end;
        color: #555;
    }
}

.contentImage {
    width: fit-content;
    word-wrap: break-word;
    margin-top: 3px;
    min-width: 100px;
    max-width: 60%;

    .messageImage {
        border-radius: 15px;

        img {
            width: 100%;
            border-radius: 15px;
        }
    }
}